<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myTodo application</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="grid grid-cols-8">
        <div class="col-start-3 col-span-2">
         <%- include('header.ejs') %>
            <form action="/addTodo" method="post" class="mb-4">
                {% csrf_token %}
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" name="title" placeholder="whats is next?" class="border border-grey-300 rounded text-gray-900 w-full p-2 text-sm leading-4" required />
                    </div>
                    <div class="flex-auto">
                        <input type="Date" name="Completiondate" required/>
                    </div>
                    <div class="flex-name">
                        <button type="submit" class="bg-green-600 text-white px-5 py-1.5 py-2 rounded font-medium mr-2 mb-2">Add</button>
                    </div>
                </div>
            </form>
            <%- include ("todos.ejs",{title:"Overdue",todotime:yesterday}) %>
            <%- include ("todos.ejs",{title:"Due Today",todotime:today}) %>
            <%- include ("todos.ejs",{title:"Due Later",todotime:tomorrow}) %>
            <%- include ("todos.ejs",{title:"completeditems",todotime:completedtodos}) %>
</body>
</html> 
